main {
    height: 100vh;
    width: 100%;
    background-color: rgb(99, 99, 99);
  }

  mat-card {
    background-color: rgb(255, 255, 255);
  }

  // mat-form-field {
  //   background-color: rgb(255, 255, 255);
  // }