<h1>Inicio</h1>

        <!-- CARD -->
        <!-- ICON -->
        <mat-icon style="font-size: 40px; height: 40px; width: 40px;">
          <!-- person_add -->
        </mat-icon>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>HACKER ACADEMY</mat-card-title>
              <mat-card-subtitle>Escuela Online de Programacion</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/Escuela-Alumnos.jpg" alt="Photo of school">
            <mat-card-content>
              <p>
                Aprende los fundamentos de programación desde cero y especialízate en nuevas tecnologías. Con matrícula flexible y aprendizaje intensivo, garantiza mejores oportunidades laborales.

                Nuestro equipo de coaches expertos te acompaña en tu búsqueda y preparación laboral para conseguir un trabajo. ¡Estamos juntos en esto, sólo ganamos si tú ganas!

                Todas nuestras carreras son a remoto. Solo necesitas una computadora y acceso a internet.

                Contamos con una red de instructores y coaches que van a estar a tu disposición cuando tengas dificultades ayudándote a acelerar tu carrera.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-stroked-button color="accent">LIKE</button>
              <button mat-stroked-button color="warn">SHARE</button> -->
            </mat-card-actions>
          </mat-card>
        <!-- CARD -->
